<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head_new.ejs%>
</head>

<body class="index-page sidebar-collapse">

<header>
    <%include ./partials/header_etc.ejs%>
</header>
<main class="ng">

    <div class="container " style="margin-top:100px">
        <h3 class="text-center"><b>자유게시판</b></h3>
        <!--<p>The .table-striped class adds zebra-stripes to a table:</p>-->
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">제목</th>
                <th class="text-center">작성자</th>
                <th class="text-center">등록일</th>
                <th class="text-center">조회수</th>
                <th class="text-center">추천수</th>
            </tr>
            </thead>
            <tbody>
            <ul>
                <% for (var i = 0 ; i < records.length ; i ++) { %>
                <tr class="text-center">
                    <td> <a ><%=records[i].idx+1%></a></td>
                    <td> <a href="/community/<%= commName%>/<%=records[i].idx%>"><%=records[i].title%></a></td>    <!--타이틀-->
                    <td> <a href="/community/>/show_profile"><%=records[i].user_email%></a></td>  <!--작성자-->
                    <td> <a src="/community/>"><%=moment(records[i].edit_date).format('YY-MM-DD, h:mm a')%></a></td>   <!--날짜-->
                    <td>
                        <%=records[i].hit%> <!--조회수-->
                    </td>
                    <td>
                            <i class="fa fa-thumbs-o-up fa-lg" style="font-size:1em; color:Tomato"><%=records[i].up%></i>
                            <i class="fa fa-thumbs-o-down fa-lg" style="font-size:1em; color:#3e97f4"><%=records[i].down%></i>

                    </td>
                    <%}%>
            </ul>
            </tr>
            </tbody>
        </table>


        <div class="clearfix">

            <button type="button" class="btn btn-round float-right btn-info mr-2 mx-auto" style="width:100px;" onclick=<% if(user){%>window.location="/community/<%=commName%>/write" <% } else { %> "needLogin(<%=user%>)"<%}%>>Write</button>
        </div>
        <div class="text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>

        </div>
    </div>

</main>

<footer>
    <%include ./partials/footer_new.ejs%>
</footer>

<script src="/javascripts/nj_ejs_func.js"></script>

</body>


</html>
