<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head_new.ejs%>
</head>

<body class="index-page sidebar-collapse">

<header>
    <%include partials/header_etc.ejs%>
</header>
<main class="container">
    <div class="container-fluid" style="margin-top:70px">
        <a class="btn btn-warning text-white float-right">자유게시판</a>
        <br>
        <h3><%- record[0].title%></h3>
        <br>
        <div class="row">
            <div class="col-sm-4" >
                <p class="text-muted">by <strong><%- record[0].user_email%></strong>  &nbsp; &nbsp; &nbsp; <%=moment(record[0].edit_date).format('YY-MM-DD, h:mm a')%></p>
                <!--<p class="text-muted float-right">Jan 20. 2018 </p>-->
            </div>
            <div class="col-sm-4" >
            </div>
            <div class="col-sm-4" >
            </div>
        </div>
        <hr class="one">

        <p class="lead"><%-record[0].contents%>
        </p>
        <div class="text-center">
            <a class="btn btn-primary btn-round btn-simple btn-sm" href="#">
                <i class="fa fa-thumbs-o-up fa-lg"></i><%-record[0].up%></a>
            <a class="btn btn-info btn-round btn-simple btn-sm " href="#">
                <i class="fa fa-thumbs-o-down fa-lg"></i><%-record[0].down%></a>
        </div>
        <hr class="divider">

        <!--comments input-->
        <form>
            <div class="form-group">
                <label for="commentsInputTextarea">댓글</label>
                <textarea class="form-control" id="commentsInputTextarea" rows="2" name="comments"></textarea>
                <button type="submit" class="btn btn-info btn-round float-right" formmethod="post" formaction="#">등록</button>
            </div>
        </form>
        <!--comments part-->

        <div style="display: inline-block">
            <div  style="display: inline">
                <img src="/img/profile_sample2.png" width="40px" height="40px" alt="imgeeee">
            </div>
            <div  style="display: inline; alignment: center">
                <!--<a>-->
                <!--<strong>user_id:</strong> / <strong>user_from:</strong> / <strong>comments_id:</strong> / <strong> Date: </strong>-->
                <!--<br>-->
                <!--<a>comments:</a>-->
                <!--</a>-->
                <a>
                    <strong>강동원:</strong> 유용한 자료에 감사드립니다. 추천 드릴께요!  &nbsp; &nbsp; &nbsp;
                    <a class="text-muted">Jan 21. 2018. 11:20 am  &nbsp; &nbsp; &nbsp;</a>
                    <a class="btn btn-primary btn-round btn-simple btn-sm center" href="#">
                        <i class="fa fa-thumbs-o-up fa-lg"></i>445</a>
                    <a class="btn btn-info btn-round btn-simple btn-sm" href="#">
                        <i class="fa fa-thumbs-o-down fa-lg"></i>5</a>
                    <br>
                </a>
                <p class="pl-4">

                    <strong>ㄴ</strong>
                    <img src="/img/profile_sample2.png" width="40px" height="40px" alt="imgeeee">
                    <strong>정우성:</strong> 네 이런 게시물이 많아졌으면 좋겠습니다. &nbsp; &nbsp; &nbsp;
                    <a class="text-muted">Jan 21. 2018. 1:30 pm  &nbsp; &nbsp; &nbsp;</a>
                    <a class="btn btn-primary btn-simple btn-sm center" href="#">
                        <i class="fa fa-thumbs-o-up fa-lg"></i>2</a>
                    <a class="btn btn-info btn-simple btn-sm" href="#">
                        <i class="fa fa-thumbs-o-down fa-lg"></i>1</a>
                    <br>
                </p>
            </div>
            <!--comments reply part-->
            <div style="display:none" class = "form-group" id="reply">
                <form>
                    <label for="commentsReplyInputTextarea">reply</label>
                    <textarea class="form-control" id="commentsReplyInputTextarea" rows="1" name="commentsReply"></textarea>
                    <button type="submit" class="btn btn-info btn-round" formmethod="post" formaction="#">OK</button>
                    <button class="btn btn-info btn-round" id="hideReply">Cancel</button>
                </form>

            </div>
            <div id="comments_control_part">
                <button class="btn btn-info btn-round" id="showReply">Reply</button>
                <button type="submit" class="btn btn-danger btn-round" formmethod="post" formaction="#">Delete</button>
                <br>
            </div>
        </div>

        <div class="mx-auto" style="width:300px; margin-bottom:20px">
            <form method="get" class="pt-5">
                <button type="submit" class="btn btn-info btn-round ml-2" formaction="#">Go Back</button>
                <button type="submit" class="btn btn-info btn-round ml-2" formaction="#">Edit</button>
                <button type="submit" class="btn btn-danger btn-round ml-2" formmethod="post" formaction="#">DELETE</button>
            </form>
        </div>
    </div>

</main>



<footer>
    <%include ./partials/footer_new.ejs%>
</footer>

<script src="/javascripts/nj_ejs_func.js"></script>


</body>

</html>
